*{
  padding:0px;
  margin:0px;
}
body,html{
  font-family:sans-serif,arial;
}
.header{
  display:grid;
  grid-template-columns:100px 1fr;
  border-bottom:1px solid #3a3a3a;
}
.logo{
  width:fit-content;
  float:left;
  height:94px;
  width:300px;
}
.main-menu{
  list-style:none;
  float:right;
  margin-top:20px;
}
.header-button:hover{
  background:#007c00;
  border-radius:25px;
  color:white;
}
.main-menu a{
  font-weight:500;
  color:#3a3a3a;
  font-size:20px;
  text-decoration:none;
}
.main-menu li{
  float:left;
  padding:12px 15px;
}
.line{
  background:#007c00;
  padding-top:30px; 
}
h1{
  text-align: center;
}
.footer{
  width:100%;
  height:auto;
  background:#007c00;
  text-align: center;
  line-height: 30px;
  color:white;
  padding-top:30px;
  padding-bottom: 30px;
}
.rights{
  text-align:center;
  background: #007c00;
  color:white;
  border-top:1px solid white;
  padding-top:5px;
}

.designs{
  text-align: center;
  background: #007c00;
  color: white;
  border-top: 1px solid white;
  padding: top 5px; 
}